body {
  background-color: rgb(7, 15, 43);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.txt {
  color: white;
  font-family: "Schibsted Grotesk", serif;
}

.mobile-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5rem;
  background: rgba(7, 15, 45, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(7, 15, 45, 0.8);
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  z-index: 11;
}

#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1rem;
  padding-right: 0;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  align-self: start;
  position: absolute;
  top: 1rem;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 4.5rem 0 0 0;
  z-index: 9;
  display: none;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  height: 5rem;
  width: 100%;
  top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  background: rgba(7, 15, 45, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(7, 15, 45, 0.8);
  z-index: 1000;
}

.mobile-logo {
  max-height: 55px;
  user-select: none;
}

.logo {
  max-height: 60px;
  user-select: none;
}

.logo-container {
  margin-right: auto;
}

.home-link {
  display: none;
}

.bar-item {
  font-weight: 500;
  font-size: 13pt;
  user-select: none;
}

.bar-item:not(#btn):hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

#btn {
  font-weight: bold;
  text-transform: uppercase;
  border: 1.5px solid white;
  border-radius: 1000px;
  padding: 10px 15px;
  user-select: none;
  transition: all 0.2s ease;
}

#btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.sec-1 {
  margin-top: 1rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #1b1a55;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-content: center;
  align-items: center;
}

.left {
  padding-left: min(3.5em, 8%);
  padding-right: min(3.5em, 8%);
}

.sec-1-h {
  font-size: clamp(1.2rem, 10vw, 2rem);
  margin-bottom: -1rem;
  text-align: start;
}

/* .sec-1-h h1 {
  min-width: 16ch;
} */

.sec-1-h-2 {
  margin-top: 1.5rem;
}

.sec-1-p p {
  font-size: 18px;
  font-weight: 400;
}

.sec-1-button-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
}

#sec-1-button-headline {
  font-size: 31px;
  font-weight: lighter;
  margin: 0;
  font-weight: 400;
}

.sec-1-button {
  width: 125px;
  user-select: none;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(0, 149, 255);
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Schibsted Grotesk", serif;
  font-weight: 450;
  margin-top: 1rem;
  padding: 0.5rem;
  transition: all 0.2s ease;
}

.sec-1-button:hover {
  background-color: rgb(0, 180, 255);
  text-decoration: underline;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding-right: min(3.5em, 8%);
}

.right img {
  max-width: 100%;
  height: auto;
  max-height: 570px;
  object-fit: contain;
  border-radius: 30px;
  min-width: 490px;
}

.fade-in {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.5s ease-out, filter 0.5s ease-out;
}

.fade-in.in-view {
  opacity: 1;
  filter: blur(0);
}

.sec-2 {
  margin: 0;
  max-width: 100%;
  padding: 4rem 2rem;
  border-bottom: 1px solid #1b1a55;
}

.sec-2-h {
  margin-top: 0;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 500;
  font-size: clamp(1rem, 10vw, 1.8rem);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 350px));
  gap: 2rem;
  justify-content: center;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(69, 76, 118, 0.5);
  border-radius: 10px;
  height: 400px;
  text-align: center;
  transition: all 0.2s ease;
  user-select: none;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.404);
}

.card:hover h3 {
  background-color: rgba(119, 126, 168, 0.5);
  border-color: rgba(119, 126, 168, 0.5);
  transition: all 0.2s ease;
}

.card-header {
  padding: 1rem;
}

.card-header h3 {
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.card-content {
  padding: 1rem;
  line-height: 1.4rem;
}

.card-img {
  margin-top: auto;
  padding-bottom: 1.5rem;
}

.card-img > img {
  height: 90px;
}

.sec-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  border-bottom: 1px solid #1b1a55;
}

.stats-container {
  width: calc(3 * 350px + 4rem);
  user-select: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid #67a2ea;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 13px -3px #67a2ea, 0 4px 6px -4px rgba(103, 162, 234, 0.7),
    0 0 25px 4px rgba(103, 162, 234, 0.4),
    inset 0 0 12px 2px rgba(103, 162, 234, 0.5);
}

.stat-item h3 {
  font-weight: 500;
  font-size: clamp(1rem, 10vw, 1.3rem);
  border-bottom: 1px solid #67a2ea;
  padding-bottom: 0.5rem;
  margin: 0 0 0.5rem 0;
  color: #67a2ea;
  text-wrap: nowrap;
}

.stat-item p {
  font-size: clamp(1rem, 10vw, 1.2rem);
  font-weight: 400;
  margin: 0;
}

/* register UI */
.register-container {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  height: max-content;
  max-width: max-content;
  padding: 1.5rem;
  font-size: 1rem;
  user-select: none;
  align-self: center;
  justify-self: center;
}

#register-form-heading {
  font-weight: 400;
  margin-top: 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-section {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.form-section > input {
  width: 100%;
  font-family: "Schibsted Grotesk", serif;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  outline: none;
  color: rgba(0, 0, 0, 0.552);
  padding-left: 0.5rem;
}

.form-section > label {
  min-width: 80px;
  text-align: right;
}

.form-section > input::placeholder {
  color: rgba(0, 0, 0, 0.552);
}

.form-section > input:focus {
  outline-color: white;
  outline-style: solid;
}

.register-btn {
  font-weight: bold;
  text-transform: uppercase;
  border: 1.5px solid white;
  background-color: transparent;
  color: white;
  border-radius: 1000px;
  padding: 5px 10px;
  user-select: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.register-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#form-comment {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
  color: rgb(255, 26, 14);
}

/* footer */

footer {
  position: relative;
  background: black;
  min-height: 54vh; /* need to monitor, to see if it doesn't bug */
}

.sec-3 {
  padding: 4rem 2rem;
  position: relative;
  z-index: 1;
}

.star-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  filter: blur(0.5px);
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-1 * var(--footer-height) - 10px));
  }
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.donut-logo {
  height: 200px;
}

.menu {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-h {
  font-size: 22px;
  margin-top: 0;
}

.footer-list li {
  padding: 0.5rem 0;
}

.footer-list a {
  color: #67a2ea;
  font-family: "Schibsted Grotesk", serif;
  font-size: 16px;
  word-wrap: break-word;
}

.footer-list a:hover {
  color: #ffffff;
}

.maintaned-by {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 1rem;
  font-size: 16px;
}

.maintaned-by > p {
  margin-top: 0;
}

#profile-x {
  color: #67a2ea;
}

#profile-x:hover {
  color: #ffffff;
}

/* About */

.sec-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #1b1a55;
  padding-bottom: 4rem;
}

.lore-container,
.tokenomics-container,
.utility-container {
  background-color: rgba(69, 76, 118, 0.5);
  border-radius: 10px;
  max-width: 700px;
  padding: 30px;
  margin: 20px 20px 0;
}

.img-article-container {
  display: flex;
  justify-content: center;
  width: 100%;
  user-select: none;
}

.img-article-container img {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.sec-3-h {
  margin-top: 0;
  font-weight: 500;
  font-size: clamp(1rem, 10vw, 1.8rem);
  border-bottom: 1px solid #67a2ea;
  padding-bottom: 1rem;
  color: #67a2ea;
}

.p-group-1,
.p-group-2,
.p-group-3 {
  line-height: 1.6rem;
}

.p-group-2 ul li ul a {
  color: white;
}

.lp-hyperlink {
  text-decoration: none;
  color: #67a2ea;
}

.lp-hyperlink:hover {
  color: white;
  text-decoration: underline;
}

.distro {
  line-height: 2rem;
}

/* Connect page */

.sec-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.5;
  padding-bottom: 4rem;
  border-bottom: 1px solid #1b1a55;
}

.form {
  max-width: 700px;
  padding: 30px 30px 0;
  margin: 20px 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.connect-header > h2 {
  font-weight: 600;
  font-size: clamp(1.2rem, 10vw, 2rem);
  text-align: center;
  padding-bottom: 1rem;
}

.connect-bio > p {
  padding-bottom: 1.5rem;
}

#email-form,
#message-form {
  background-color: rgb(27, 25, 63);
  border: 1px solid #ffffff89;
  border-radius: 10px;
  transition: all 0.2s ease;
  color: white;
}

#email-form:hover,
#message-form:hover {
  background-color: rgb(37, 35, 73);
}

#email-form:focus,
#message-form:focus {
  background-color: rgb(37, 35, 73);
}

#email-form {
  min-height: 2.5rem;
}

#message-form {
  resize: vertical;
  width: 100%;
  min-height: 6rem;
  max-width: 640px;
  margin-bottom: 0.5rem;
}

input:focus,
textarea:focus {
  outline-color: #ffffff89;
  outline-style: double;
}

#button-form {
  font-weight: bold;
  text-transform: uppercase;
  border: 1.5px solid white;
  background-color: transparent;
  color: white;
  border-radius: 1000px;
  padding: 10px 15px;
  user-select: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

#button-form:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#form-message {
  text-align: center;
  font-size: 1rem;
}

#form-message.success {
  color: rgb(48, 192, 50);
}

#form-message.error {
  color: rgb(255, 26, 14);
}

/* Blog home page */
.sec-6 {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 400px));
  grid-auto-rows: 1fr;
  gap: 4rem;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 5rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #1b1a55;
}

.blog-card {
  background-color: rgba(69, 76, 118, 0.5);
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto minmax(2.5em, auto) 1fr auto;
  height: 100%;
  padding: 1.5rem;
  gap: 0.5rem;
  transition: all 0.2s ease;
}

.thumbnail-container {
  grid-row: 1;
}
.blog-title {
  grid-row: 2;
}
.blog-excerpt {
  grid-row: 3;
}
.blog-author {
  grid-row: 4;
}

.blog-card:hover {
  background-color: rgba(79, 86, 128, 0.5);
}

.thumbnail-container > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.blog-title,
.blog-author,
.blog-excerpt {
  margin: 0;
}

.blog-author {
  font-weight: 400;
}

.blog-author a {
  text-decoration: none;
  color: #67a2ea;
  transition: all 0.2s ease;
}

.blog-author a:hover {
  color: white;
}

.blog-card:hover .blog-title {
  color: #67a2ea;
}

.blog-title {
  color: white;
  border-bottom: 4px solid transparent;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  min-height: 2.5em;
  margin-top: 0.5rem;
}

.blog-excerpt > p {
  max-width: 33ch;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.blog-date > p {
  margin: 0;
  font-size: 0.9rem;
  color: #ffffffb6;
}

/* Blog posts */
.sec-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #1b1a55;
  padding-bottom: 4rem;
}

.post-container {
  max-width: 900px;
  padding: 30px 30px 0;
  margin: 20px 20px 0;
}

.post-title > h1 {
  margin-bottom: 0.5rem;
}

.post-heading {
  font-size: 3rem;
  font-weight: 600;
}

.post-h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.post-h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffb6;
}

.post-heading,
.post-h2 {
  margin: 0;
}

.post-author-link {
  color: #67a2ea;
}

.post-author-link:hover {
  color: white;
}

.post-thumbnail-container {
  display: flex;
  justify-content: center;
  width: 100%;
  user-select: none;
}

.post-thumbnail-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.post-body {
  background-color: rgba(69, 76, 118, 0.5);
  border-radius: 10px;
  line-height: 1.6rem;
  margin-top: 1rem;
  padding: 1.5rem;
}

.prev-next-container {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.prev-next-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.3rem;
  user-select: none;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(0, 149, 255);
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "Schibsted Grotesk", serif;
  font-weight: 450;
  padding: 1rem;
  transition: all 0.2s ease;
}

.prev-next-btn > p {
  margin: 0;
}

.prev-next-btn:hover {
  background-color: rgb(0, 180, 255);
}

.arrow {
  height: 23px;
}

/* Media queries */

@media screen and (max-width: 1280px) {
  .card:hover {
    transform: none;
    box-shadow: none;
  }

  .card:hover h3 {
    background-color: inherit;
    border-color: inherit;
    transition: none;
  }
}

@media screen and (max-width: 1100px) {
  .sec-6 {
    gap: 3rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1050px) {
  .sec-6 {
    grid-template-columns: repeat(2, minmax(300px, 400px));
  }
}

@media screen and (max-width: 950px) {
  .sec-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }

  .left {
    order: 1;
  }

  .sec-1-h-2 {
    text-align: center;
  }

  .sec-1-button-container {
    justify-content: center;
  }

  .right {
    order: -1;
    margin-top: 0;
    padding-right: 0;
  }

  .right img {
    border-radius: 0;
    width: 100%;
    min-width: unset;
    max-height: unset;
  }
}

@media screen and (max-width: 900px) {
  .donut-logo {
    height: 150px;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 840px) {
  .card-container {
    grid-template-columns: minmax(250px, 350px);
    padding: 0 1rem;
  }

  .stats-container {
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
    gap: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .main-content {
    padding-top: 4rem;
  }

  #open-sidebar-button,
  #close-sidebar-button {
    display: block;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    position: fixed;
    top: 4.5rem;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid rgba(7, 15, 45, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 1rem 5.5rem 1rem;
    transition: right 300ms ease-out;
    gap: 0.1rem;
  }

  nav.show {
    right: 0;
  }

  nav.show ~ #overlay {
    display: block;
  }

  .home-link {
    display: block;
    margin-top: 2.6rem;
  }

  .logo-container {
    display: none;
  }

  .sec-1-h {
    font-size: 1.32rem;
    margin-bottom: 1.5rem;
  }

  .sec-1 p {
    font-size: 16px;
  }

  .sec-1-button-container {
    flex-direction: column;
    gap: 1px;
  }

  .sec-1-button {
    width: 120px;
    margin: 0;
    margin-top: 0.7rem;
    padding: 0.4rem;
  }

  #sec-1-button-headline {
    font-size: 25px;
  }

  .sec-1 {
    padding-bottom: 4rem;
  }

  .sec-2 {
    padding: 4rem 2rem;
  }

  .sec-3 {
    padding: 4rem 2rem;
  }

  .sec-4,
  .sec-5,
  .sec-6,
  .sec-7,
  .sec-8 {
    padding-bottom: 4rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 2rem;
  }

  .donut-logo {
    height: 120px;
    margin-bottom: 4rem;
  }

  #email-form,
  #message-form {
    resize: none;
  }

  #message-form {
    height: 10rem;
  }

  .sec-6 {
    grid-template-columns: minmax(300px, 400px);
  }

  .blog-excerpt > p {
    max-width: 40ch;
  }

  .post-container {
    padding: 10px 10px 0;
    margin: 10px 10px 0;
  }
}

@media screen and (max-width: 400px) {
  .footer-h {
    font-size: 18px;
  }
  .footer-list a {
    font-size: 14px;
  }

  .register-container {
    font-size: 0.9rem;
  }

  .form-section > input {
    font-size: 0.9rem;
  }
}
